/* src/components/CourseRegistration.css */

/* Center the entire component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
  /* Apply a box shadow to the component */
.course-reg {
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80vw;
}
.semester-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.semester-option {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
  